<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Hulliveien(tm)</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Hull i veien&trade;</a>

        <ul class="nav">
          <li><a href="/">Forsiden</a></li>
          <li><a href="/reports">Rapporter</a></li>
          <!--<li><a href="#about">Hva skjer?</a></li>
          <li><a href="#contact">Contact</a></li>-->
        </ul>
        <!--<ul class="nav secondary-nav">
        <li><a href="/reports">Admin</a></li>
        </ul>-->
         <%= render :partial => 'common/admin_menu' %>
      </div>
    </div>

  </div>
  <div class="container">
    <%= render :partial => 'common/flashes' %>
    <%= yield %>
    <footer>
      <p>&copy; Hulliveien AS 2012</p>

    </footer>
  </div><!-- /container -->

</body>
</html>